tensorflow-macos==2.9.2
tensorflow-metal==0.5.1
numpy==1.24.3
opencv-python>=4.11.0
torch>=1.13.1
torchvision>=0.14.1
Pillow>=9.4.0
matplotlib>=3.9.4
scikit-image>=0.24.0
scikit-learn>=1.6.1
tqdm>=4.67.1
ultralytics>=8.3.98
shapely>=2.0.7
